.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  max-height: 180px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 4px;
  cursor: pointer;
}

.row_poster:hover {
  transform: scale(1.08);
}
